@model EudHubConsume.MVC.Models.UserDetailsVM

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var mydata = ViewBag.MyData;
}

//<h4>Welcome @Model.FirstName @Model.LastName!!!</h4> 

